.display {
  background-color: #f4f0f0;
  border: 2px solid #ffffff;
  border-radius: 15px;
  padding: 10px;
  text-align: right;
  margin-bottom: 15px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
}

.display-history {
  font-size: 1em;
  color: #666;
  min-height: 20px;
  max-height: 30px;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.display-current {
  font-size: 2em;
  word-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: auto;
}